<<<<<<< d99a3f8558b315feb4b4af04d524e76a6c0a2158
<ul>
	<li>{{link-to 'ember' 'org.emberjs.repos'}}</li>
	<li>netflix</li>
	<li>yahoo</li>
	<li>facebook</li>
=======
<h2>My Favorite Orgs</h2>

<ul>
	<li>{{link-to 'JQuery' 'org.repos' 'jquery'}}</li>
	<li>{{link-to 'Ember' 'org.repos' 'ember'}}</li>
	<li>{{link-to 'Netflix' 'org.repos' 'netflix'}}</li>
>>>>>>> set up basic router with templates
</ul>
{{outlet}}